*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    color:rgb(255, 255, 254);
    background-color: red; 
    
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201009/pngtree-science-or-technology-background-with-dynamic-particles-trendy-colorful-design-template-image_406781.jpg);
}
.header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background:rgb(0, 0, 0);
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
.logo{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background:rgb(0, 0, 0);
   
    display:flex;
    font-size:40px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 900;
    transition:.5s;
    
}
.logo:hover
{
    font-size:40px;
    color:rgb(182, 0, 97);
    font-weight:700px;
    
}
.navbar a
{
    text-shadow: 1px 1px rgb(132, 13, 236);
    font-size:20px;
    color:rgb(244, 244, 249);
    text-decoration: none;
    font-weight:500px;
    margin-left:35px;
    transition:.3s;
    word-spacing: 15px;
}
.navbar a:hover,
.navbar a.active
{
    color:rgb(182, 0, 97);
    font-weight: 600px;
    font-size:25px;

}

.popup-info{
    position: absolute;
    top:20%;
   left:32%;
    transform:transalate(-50%,-50%);
    width:700px;
    background-image: linear-gradient(to right, rgb(85, 223, 140), yellow, rgb(231, 89, 155), rgb(113, 113, 238), violet);
    border-radius: 16px;
    border-style: double;
    border-width: 6px;
    padding: 10px 10px;


}
.popup-info h1
{
    font-size:60px;
    color:black;
    
}
.popup-info .info 
{
    display:inline-block;
    font-size: 30px;
    color:brown;
    font-weight:500px;
    margin:4px 0;
    
}
.popup-info .btn-group
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.popup-info .btn-group .info-btn
{
    width:140px;
    height:45px;
    background:rgb(8, 7, 7);
    border:3px solid white;
    outline:none;
    border-radius:7px;
    text-shadow: 2;
    text-decoration: none;
    font-size:16px;
    color:white;
    font-weight:600px;
    cursor:pointer;

}
.popup-info .btn-group .info-btn:hover
{
    color:rgb(255, 255, 255);
    background-color: rgb(98, 2, 2);
}